form input[name="city"], form input[name="country"] {
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
}

form input:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

form input,
.container::-webkit-input-placeholder {
    color: white !important;
}

.ghost-button {
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: white;
	font-weight: bold;
	border-radius: .1em;
	border: 1px solid #fff;
	transition: border-color 0.3s ease-out, color 0.3s ease-out;
	margin-bottom: 10px;
	text-align: center;
}

.ghost-button:hover, .ghost-button:active {
	background-color: #fff; /* fallback */
	background-color: rgba(255, 255, 255, 0.4);
	border-color: #fff; /* fallback */
	border-color: rgba(255, 255, 255, 0.4);
	transition:border-color 0.4s ease-in, color 0.4s ease-in;
	text-decoration: none;
}